*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color:rgb(0, 176, 240);
}
body{
    font-family: 'Work Sans', sans-serif;
}
main{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}
.barra{
    background-color: #fff;
    height: 100vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    width: 28%;
    border: 5px solid var(--color);
    border-radius: 0 5px 5px 0;
}
.linea{
    height: 2px;
    background-color: var(--color);
    border-radius: 5px 0px 0px 5px;
    margin: 15px;
}
.icono{
    display: none;
}
.lista-enlaces{
    margin: 25px;
    font-size: 20px;
}
.lista-enlaces>li{
    margin:50px 20%;
    list-style: none;
    position:relative;  
    padding:0 15px;
}
.lista-enlaces li>button{
    width: 100%;
    height: 50px;
    background: none;
    border: none;   
    font-size: 20px;
    outline:none;
}
.lista-enlaces li>button:hover{
    color: var(--color);
    text-decoration: underline;
}
.lista-enlaces li>button:active{
    color: green;
}
.btn, .btnEstatico{
    display: flex;
    align-items: center;
}
.icon{
    margin-right: 5px;
}
.submenu{
    position: absolute;
    top: 0px;
    left: 210px;
    background: white;
    border: 2px solid var(--color);
    border-radius: 0 5px 5px 0;
    width: 100%;
    padding: 0px 25px;
    display: none;
}
.elemento:hover .submenu{
    display: block;
}
.informacion{
    margin-left:28%;
    width: 72%;
    padding: 5px;
    background-color: var(--colorP);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inicio, .definicion{
    display: flex;
    flex-direction: column;
}
.titulos{
    font-size: 48px;
    margin: 15px 150px;
    text-align: center;
}
.contenedorImg{
    display: flex;
    justify-content: center;
}
.imgInicio{
    width: 600px;
    border-radius: 15px;
}
p{
    font-size:18px;
    line-height: 30px;
    margin:0 25px;
    margin-top:15px ;
    text-align: justify;
}
.invisible{
    display: none;
}
.imgDefinicion{
    width: 450px;
    border-radius: 15px;
}
.terminos, .composicion, .aire, .forestacion, .consecuencias, .contaminacion, .causas, .hacer, .cuidar{
    margin: 35px;
}
.subtitulos{
    font-size: 25px;
}
.subsubtitulos{
    font-size: 20px;
}
.caracteristicas, .entes{
    margin-bottom: 25px;
}
.verde{
    background: #AFC657;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
.azulClaro{
    background: #B7D5E5;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
.azul{
    background: #00AAE4;
    display: inline;
    padding: 5px;
    border-radius: 5px; 
}
.verdeOscuro{
    background: #00BB2D;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
.rojo{
    background: #DA6E66;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
.gris{
    background: #CDCDCD;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
.naranja{
    background: #FFA420;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
.amarillo{
    background: #FFFF33;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
.cafe{
    background: #8f5e1fc2;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
.verdeClaro{
    background: #3EFF3F;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
.imgHabitat{
    width: 400px;
    border-radius: 15px;
}
@media screen and (max-width:950px){
    .icono{
        opacity: 1;
        display: flex;
        position: fixed;
        top:0;
        justify-content: flex-start;
        padding: 10px;
        background-color: black;
        color:#fff;
        z-index: 500;
        cursor: pointer;
        border-radius: 0 0 10px 0;
    }
    .barra{
        width: 100%;
        z-index: 5;
        padding-top: 20px;
        background: #4e54c8;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        transition: all 0.5s ease;
    }
    .submenu{
        z-index: 500;
    }
    .uno{
        clip-path: circle(1% at 0 0);
    }
    .dos{
        clip-path: circle(141.4% at 0 0);
    }
    .informacion{
        margin-left: 0;
        width: 100%;
        padding: 0;
    }
    .submenu{
        width: 50%;
    }
}
@media screen and (max-width:720px){
    .titulos{
        font-size: 40px;
        margin: 15px 100px;
    }
    .subtitulos{
        font-size: 23px;
        margin: 0 10px;
    }
    .imgInicio{
        width: 550px;
    }
    p{
        font-size: 17px;
    }
    .imgDefinicion{
        width: 350px;
    }
    .submenu{
        width: 60%;
    }
}
@media screen and (max-width:600px){
    .titulos{
        margin: 15px 80px;
    }
    .imgInicio{
        width: 450px;
    }
    .submenu{
        width: 70%;
        left: 190px;
    }
}
@media screen and (max-width:575px){
    .terminos, .composicion, .aire, .forestacion, .consecuencias, .contaminacion, .causas, .hacer, .cuidar{
        margin: 25px;
    }
}
@media screen and (max-width:500px){
    .imgInicio{
        width: 400px;
    }
    .titulos{
        margin: 15px 40px;
    }
    .terminos, .composicion, .aire, .forestacion, .consecuencias, .contaminacion, .causas, .hacer, .cuidar{
        margin: 15px;
    }
    .submenu{
        width: 80%;
        left: 170px;
        top: 30px;
    }
}
@media screen and (max-width:490px){
    .terminos, .composicion, .aire, .forestacion, .consecuencias, .contaminacion, .causas, .hacer, .cuidar{
        margin-left: 25px;
    }
}
@media screen and (max-width:452px){
    .imgInicio{
        width: 350px;
    }
}